body {
  background-image: url("http://dbwebworks.ie/sites/default/files/freecodecamp/images/sunset.jpg" );
  background-repeat: no-repeat;
  background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

h1#title {
  text-align: center;
  font-weight: 600;
  color: #000;
  margin-top: 50px;
}

div.jumbotron {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.quote-box {
  
}
.jumbotron blockquote {
   font-size: 2.5em;
} 
.jumbotron footer {
  
}
 
